body {
	font-family: "Lucida Console", Monaco, monospace;
	width: 100%;
	margin-left: 0;
	margin-top: 0;
	background-color: #222930;
	margin-right: 10%;
}

#main {
	background-color: #e0f0ff;
	color: #222930;	
	margin-top: 75px;
	margin-right: 12%;
	margin-left: 12%;

}

#stuff {
margin-right: 7%;
margin-left: 7%;
}

#header {
	margin-top: -10px;
	color: #e0f0ff;;
	background-color: #222930;
    width:100%;

    position:fixed;
    top:0;
    left:0; 

}

h1 {
	text-align: center;
	margin-bottom: 0px;
}

h2 {
	margin-left: 1%;
}

h5 {
	margin-left: 2%;
}

ul {
	margin-left: 10%;
}

hr {
	width: 97%;

}

.desc {
	margin-left: 13%;
	margin-right: 10%;
}

.iss_desc {
	margin-left: 3%;
}

.menu_item {
	text-align: center;
}

.menu_item:link {
	color: #6ed1da;
}

.menu_item:visited {
	color: #3ea1aa;
}

.menu_item:hover {
	color: #8ef1fa;
}

.high {
	color: red;
	display: inline;
}

.medium {
	display: inline;
	color: orange;
}

.low {
	display: inline;
	color: yellow;
}

.justify {
	display: inline;
	font-weight: normal;
}

.image {
	text-align: center;
	font-size: small;
}

#menu {
	display: block;
	text-align: center;
}

